.button-percent {
    background: var(--Very-dark-cyan);
    color: var(--White);
    border: none;
    width: 95px;
    height: 6vh;
    border-radius: 5px;
    cursor: pointer;
}

.button-percent:hover {
    background: var(--Strong-cyan);
}


.button-percent:active {
    background: var(--Strong-cyan);
}
